# èµ›é¢˜ [å¡«å†™èµ›é¢˜ç¼–å·ï¼Œå¦‚: Eé¢˜]ï¼š[å¡«å†™èµ›é¢˜åç§°ï¼Œå¦‚: äº¤é€šæµé‡ç®¡æ§]

> **å›¢é˜Ÿæˆå‘˜**: ğŸ‘¨â€ğŸ’» @ä¿Šå®‡ (å»ºæ¨¡ä¸ç¼–ç¨‹), ğŸ“Š @(æ•°æ®åˆ†æ), âœï¸ @é˜Ÿå‹B (è®ºæ–‡å†™ä½œ)
> **æ–‡ä»¶ç‰ˆæœ¬**: V0.1 - åˆå§‹æ•°æ®æ¢ç´¢
> **æœ€åæ›´æ–°**: [è¯·åœ¨æ­¤å¤„å¡«å†™æ—¥æœŸå’Œæ—¶é—´]

---
### **æ ¸å¿ƒæ€è·¯ä¸æ¨¡å‹æ¡†æ¶**
*åœ¨è¿™ä¸ªåŒºåŸŸï¼Œç”¨å‡ å¥è¯åˆæ­¥æè¿°ä½ ä»¬å›¢é˜Ÿè®¨è®ºå‡ºçš„è§£é¢˜å¤§æ–¹å‘*
1. **é—®é¢˜ä¸€**: é€šè¿‡è½¨è¿¹åŒ¹é…æ¨æ–­è½¬å‘æµé‡ï¼Œå¹¶ç”¨K-Meansè¿›è¡Œæ—¶æ®µåˆ’åˆ†ã€‚
2. **é—®é¢˜äºŒ**: å»ºç«‹æ’é˜Ÿè®ºæ¨¡å‹ï¼Œåˆ©ç”¨é—ä¼ ç®—æ³•ä¼˜åŒ–ä¿¡å·ç¯é…æ—¶æ–¹æ¡ˆã€‚
3. ...
---

In [1]:
# ===================================================================
# æ¨¡å—ä¸€ï¼šå…¨å±€åˆå§‹åŒ– (Global Initialization)
# ===================================================================

# å¯¼å…¥æ‰€æœ‰å¯èƒ½ç”¨åˆ°çš„åº“
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
import warnings
import pulp
# ... import other libraries as needed

# å…¨å±€ç¾åŒ–è®¾ç½®
plt.rcParams['font.sans-serif'] = ['SimHei'] # è§£å†³ä¸­æ–‡æ˜¾ç¤ºé—®é¢˜
plt.rcParams['axes.unicode_minus'] = False  # è§£å†³è´Ÿå·æ˜¾ç¤ºé—®é¢˜
sns.set_style('whitegrid') # è®¾ç½®å›¾è¡¨é£æ ¼
warnings.filterwarnings("ignore", category=UserWarning)
print("âœ… æŒ‡æŒ¥ä¸­å¿ƒå·²å¯åŠ¨ï¼Œæ‰€æœ‰åº“å‡†å¤‡å°±ç»ªï¼(è­¦å‘Šè¿‡æ»¤å™¨å·²å¼€å¯)")

âœ… æŒ‡æŒ¥ä¸­å¿ƒå·²å¯åŠ¨ï¼Œæ‰€æœ‰åº“å‡†å¤‡å°±ç»ªï¼(è­¦å‘Šè¿‡æ»¤å™¨å·²å¼€å¯)

# ===================================================================
# æ¨¡å—äºŒï¼šæ•°æ®åŠ è½½ä¸é¢„å¤„ç† (Data Loading & Preprocessing)
# è´Ÿè´£äºº: @é˜Ÿå‹A
# ===================================================================

### 2.1 æ•°æ®åŠ è½½
* **ä»»åŠ¡**: åŠ è½½é¢˜ç›®é™„ä»¶ä¸­çš„æ‰€æœ‰æ•°æ®æ–‡ä»¶ã€‚

# ğŸ—ºï¸ Step 1: æ•°æ®æ”¶é›† (Data Collection)
> **ğŸ¯ ç›®æ ‡**: åŠ è½½é¢˜ç›®é™„ä»¶ä¸­çš„æ‰€æœ‰æ•°æ®æ–‡ä»¶ï¼Œ**ç¡®è®¤æ•°æ®å·²æˆåŠŸè¯»å…¥**ã€‚
> **ğŸ•µï¸â€â™‚ï¸ ä½ çš„ä»»åŠ¡**: 
> 1. å°†æ‰€æœ‰é™„ä»¶æ–‡ä»¶å’Œæœ¬Notebookæ”¾åœ¨**åŒä¸€ä¸ªæ–‡ä»¶å¤¹**ä¸‹ã€‚
> 2. åœ¨ä¸‹æ–¹ä»£ç å•å…ƒæ ¼ä¸­ï¼Œ**ä¿®æ”¹`file_path_x`å˜é‡ä¸ºæ­£ç¡®çš„æ–‡ä»¶å**ã€‚
> 3. æŒ‰ **Shift+Enter** æ‰§è¡Œä»£ç ã€‚

In [2]:
# ----------------- è¯·åœ¨è¿™é‡Œä¿®æ”¹æ‚¨çš„æ–‡ä»¶å -----------------
file_path_1 = r'E:\æˆ‘çš„å¤§å­¦å››å¹´\å¤§ä¸€ä¸‹\æ•°æ¨¡\23å¹´åæ•°æ¯Cé¢˜\é™„ä»¶.xlsx'
#file_path_2 = 'æ–‡ä»¶2.csv'
# file_path_3 = '...' # å¦‚æœæœ‰æ›´å¤šæ–‡ä»¶ï¼Œåœ¨æ­¤å¤„æ·»åŠ 
# --------------------------------------------------------

try:
    # å°è¯•ç”¨Pandasè¯»å–æ•°æ®ï¼Œæ‚¨çš„ä¸»è¦ç«èµ›åº“æ˜¯pd.read_excel()å’Œpd.read_csv()
    df1 = pd.read_excel(file_path_1)
    #df2 = pd.read_csv(file_path_2, encoding='gbk') # CSVæ–‡ä»¶æœ‰æ—¶éœ€è¦æŒ‡å®šç¼–ç ï¼Œå¦‚gbk
    # df3 = ...
    print(f"âœ”ï¸ æ‰€æœ‰é™„ä»¶æ•°æ®åŠ è½½æˆåŠŸï¼")
    
    print("\n[--df1æ•°æ®é¢„è§ˆ (å‰5è¡Œ)--]")
    display(df1.head())
    #print("\n[--df2æ•°æ®é¢„è§ˆ (å‰5è¡Œ)--]")
    #display(df2.head())
    
except FileNotFoundError as e:
    print(f"âŒ æ–‡ä»¶æœªæ‰¾åˆ°ï¼Œè¯·ä»”ç»†æ£€æŸ¥æ–‡ä»¶åå’Œè·¯å¾„æ˜¯å¦å®Œå…¨æ­£ç¡®: {e}")
except Exception as e:
    print(f"âŒ æ•°æ®åŠ è½½å¤±è´¥ï¼Œå¯èƒ½æ˜¯ç¼–ç é—®é¢˜æˆ–å…¶ä»–é”™è¯¯: {e}")

âœ”ï¸ æ‰€æœ‰é™„ä»¶æ•°æ®åŠ è½½æˆåŠŸï¼

[--df1æ•°æ®é¢„è§ˆ (å‰5è¡Œ)--]

,ç¼–å·,æ¯äº²å¹´é¾„,å©šå§»çŠ¶å†µ,æ•™è‚²ç¨‹åº¦,å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰,åˆ†å¨©æ–¹å¼,CBTS,EPDS,HADS,å©´å„¿è¡Œä¸ºç‰¹å¾,...,æ•´æ™šç¡çœ æ—¶é—´ï¼ˆæ—¶ï¼šåˆ†ï¼šç§’ï¼‰,ç¡é†’æ¬¡æ•°,å…¥ç¡æ–¹å¼,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,1.0,34.0,å·²å©š,ç ”ç©¶ç”Ÿ,37.0,è‡ªç„¶åˆ†å¨©,3.0,13.0,9.0,ä¸­ç­‰å‹,...,10:00:00,3.0,æŠšè§¦æ³•,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,33.0,å·²å©š,ç ”ç©¶ç”Ÿ,42.0,è‡ªç„¶åˆ†å¨©,0.0,0.0,3.0,å®‰é™å‹,...,11:00:00,0.0,ç¯å¢ƒè¥é€ æ³•,NaN,è¡¥å……è¯´æ˜ï¼ˆæ•°å€¼å«ä¹‰ï¼‰,NaN,NaN,NaN,NaN,NaN
2,3.0,37.0,å·²å©š,ç ”ç©¶ç”Ÿ,41.0,è‡ªç„¶åˆ†å¨©,4.0,8.0,9.0,å®‰é™å‹,...,12:00:00,1.0,æŠšè§¦æ³•,NaN,æ•°å€¼,å©šå§»çŠ¶å†µ,æ•™è‚²ç¨‹åº¦,åˆ†å¨©æ–¹å¼,å©´å„¿æ€§åˆ«,å…¥ç¡æ–¹å¼
3,4.0,31.0,å·²å©š,ç ”ç©¶ç”Ÿ,37.5,è‡ªç„¶åˆ†å¨©,6.0,16.0,13.0,å®‰é™å‹,...,11:00:00,2.0,å“„ç¡æ³•,NaN,1,æœªå©š,å°å­¦,è‡ªç„¶åˆ†å¨©,ç”·æ€§,å“„ç¡æ³•ï¼šé€šè¿‡è½»å£°å“„å”¤ã€æ‘‡æ™ƒã€æ‹æ‰“ç­‰æ–¹å¼ï¼Œä½¿å©´å„¿æ„Ÿåˆ°å®‰å…¨å’Œèˆ’é€‚ï¼Œè¿›è€Œå…¥ç¡ã€‚
4,5.0,36.0,æœªå©š,ç ”ç©¶ç”Ÿ,40.0,è‡ªç„¶åˆ†å¨©,1.0,3.0,3.0,ä¸­ç­‰å‹,...,10:30:00,1.0,ç¯å¢ƒè¥é€ æ³•,NaN,2,å·²å©š,åˆä¸­,å‰–å®«äº§,å¥³æ€§,æŠšè§¦æ³•ï¼šé€šè¿‡è½»æŸ”çš„æŒ‰æ‘©ã€æ‰æç­‰æ–¹å¼ï¼Œä¿ƒè¿›å©´å„¿çš„æ”¾æ¾å’Œå…¥ç¡ã€‚

# ğŸ§­ Step 2: æ•°æ®æ¢ç´¢ (Exploratory Data Analysis - EDA)
> **ğŸ¯ ç›®æ ‡**: å¿«é€Ÿæ‘¸æ¸…æ¯ä¸ªæ•°æ®é›†çš„â€œå®¶åº•â€ï¼ˆ**ç»“æ„ã€åˆ†å¸ƒã€ç¼ºå¤±æƒ…å†µ**ï¼‰ï¼Œå¯¹æ•°æ®å»ºç«‹å®è§‚è®¤çŸ¥ã€‚
> **ğŸ•µï¸â€â™‚ï¸ ä½ çš„ä»»åŠ¡**:
> 1. é€ä¸ªæ‰§è¡Œä¸‹æ–¹çš„ä»£ç å•å…ƒæ ¼ã€‚
> 2. **ä»”ç»†è§‚å¯Ÿ**æ¯ä¸ªå•å…ƒæ ¼çš„è¾“å‡ºç»“æœã€‚
> 3. å°†ä½ çš„**æ‰€æœ‰å‘ç°å’Œç–‘æƒ‘**ï¼Œéƒ½è®°å½•åœ¨æœ€åçš„ **â€œğŸ•µï¸â€â™‚ï¸ ä½ çš„ã€ä¾¦å¯Ÿç¬”è®°ã€‘â€** åŒºåŸŸã€‚

In [3]:
# --------------------------------------------------------------------------------------------------------------------------------
# [-- 2.1 æ£€æŸ¥df1æ•´ä½“ä¿¡æ¯ --]
# --------------------------------------------------------------------------------------------------------------------------------
print(f"[-- df1 æ•°æ®æ•´ä½“æ¦‚è§ˆ (info) --]")
df1.info()
print(f"**" * 40 + "\n")

print(f"[-- df1 æ•°å€¼å‹æ•°æ®ç»Ÿè®¡æ¦‚è§ˆ (describe) --]")
display(df1.describe())
print(f"**" * 40 + "\n")

print(f"[-- df1 éæ•°å€¼å‹æ•°æ®ç»Ÿè®¡æ¦‚è§ˆ (describe for objects) --]")
display(df1.describe(include='object'))
print(f"**" * 40 + "\n")

[-- df1 æ•°æ®æ•´ä½“æ¦‚è§ˆ (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ç¼–å·             401 non-null    float64
 1   æ¯äº²å¹´é¾„           401 non-null    float64
 2   å©šå§»çŠ¶å†µ           443 non-null    object
 3   æ•™è‚²ç¨‹åº¦           401 non-null    object
 4   å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰       401 non-null    float64
 5   åˆ†å¨©æ–¹å¼           401 non-null    object
 6   CBTS           401 non-null    float64
 7   EPDS           401 non-null    float64
 8   HADS           401 non-null    float64
 9   å©´å„¿è¡Œä¸ºç‰¹å¾         381 non-null    object
 10  å©´å„¿æ€§åˆ«           401 non-null    object
 11  å©´å„¿å¹´é¾„ï¼ˆæœˆï¼‰        401 non-null    float64
 12  æ•´æ™šç¡çœ æ—¶é—´ï¼ˆæ—¶ï¼šåˆ†ï¼šç§’ï¼‰  381 non-null    object
 13  ç¡é†’æ¬¡æ•°           381 non-null    float64
 14  å…¥ç¡æ–¹å¼           381 non-null    object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    16 non-null     object
 17  Unnamed: 17    7 non-null      object
 18  Unnamed: 18    6 non-null      object
 19  Unnamed: 19    3 non-null      object
 20  Unnamed: 20    3 non-null      object
 21  Unnamed: 21    6 non-null      object
dtypes: float64(9), object(13)
memory usage: 76.3+ KB
********************************************************************************

[-- df1 æ•°å€¼å‹æ•°æ®ç»Ÿè®¡æ¦‚è§ˆ (describe) --]

,ç¼–å·,æ¯äº²å¹´é¾„,å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰,CBTS,EPDS,HADS,å©´å„¿å¹´é¾„ï¼ˆæœˆï¼‰,ç¡é†’æ¬¡æ•°,Unnamed: 15
count,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,401.000000,381.000000,0.0
mean,205.201995,30.154613,39.142394,5.965087,9.082294,7.865337,1.952618,1.467192,NaN
std,118.814989,4.363603,1.885404,4.975819,6.716823,4.275725,0.821736,1.621273,NaN
min,1.000000,19.000000,26.500000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN
25%,103.000000,27.000000,38.000000,2.000000,4.000000,5.000000,1.000000,0.000000,NaN
50%,205.000000,30.000000,39.200000,5.000000,8.000000,7.000000,2.000000,1.000000,NaN
75%,309.000000,33.000000,40.400000,9.000000,13.000000,11.000000,3.000000,2.000000,NaN
max,410.000000,47.000000,43.000000,21.000000,28.000000,20.000000,3.000000,10.000000,NaN

********************************************************************************

[-- df1 éæ•°å€¼å‹æ•°æ®ç»Ÿè®¡æ¦‚è§ˆ (describe for objects) --]

,å©šå§»çŠ¶å†µ,æ•™è‚²ç¨‹åº¦,åˆ†å¨©æ–¹å¼,å©´å„¿è¡Œä¸ºç‰¹å¾,å©´å„¿æ€§åˆ«,æ•´æ™šç¡çœ æ—¶é—´ï¼ˆæ—¶ï¼šåˆ†ï¼šç§’ï¼‰,å…¥ç¡æ–¹å¼,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
count,443,401,401,381,401,381,381,16,7,6,3,3,6
unique,2,5,2,3,2,15,5,16,7,6,3,3,6
top,å·²å©š,ç ”ç©¶ç”Ÿ,è‡ªç„¶åˆ†å¨©,ä¸­ç­‰å‹,ç”·æ€§,10:00:00,ç¯å¢ƒè¥é€ æ³•,è¡¥å……è¯´æ˜ï¼ˆæ•°å€¼å«ä¹‰ï¼‰,å©šå§»çŠ¶å†µ,æ•™è‚²ç¨‹åº¦,åˆ†å¨©æ–¹å¼,å©´å„¿æ€§åˆ«,å…¥ç¡æ–¹å¼
freq,429,187,396,221,207,107,164,1,1,1,1,1,1

********************************************************************************

ä½ çš„ã€ä¾¦å¯Ÿç¬”è®°ã€‘:
ä½ çš„ä»»åŠ¡: è¿™æ˜¯ä¸€ä¸ªçœŸæ­£çš„æ•°æ®é›†ï¼èµ°å®Œä¸‹ä¸€æ­¥ï¼Œåœ¨è¿™é‡Œå†™ä¸‹ä½ ä»ä¸Šé¢æ‰€æœ‰è¾“å‡ºæ‰€å¾—åˆ°çš„åˆæ­¥å‘ç°ã€ç»“è®ºå’Œé—®é¢˜ï¼Œè¿™å¯¹åé¢çš„å»ºæ¨¡è‡³å…³é‡è¦ï¼

å…³äºdf1ï¼š

æ•°æ®é‡ä¸ç¼ºå¤±å€¼: df1å…±æœ‰443è¡Œï¼Œä½†è®¸å¤šåˆ—çš„éç©ºå€¼åªæœ‰401è¡Œæˆ–381è¡Œï¼Œå­˜åœ¨å¤§é‡ç¼ºå¤±å€¼ã€‚æ­¤å¤–ï¼Œæœ€åå‡ è¡Œï¼ˆä»ç¬¬402è¡Œå¼€å§‹ï¼‰ä¼¼ä¹æ˜¯è¡¥å……è¯´æ˜ï¼Œè€Œéæœ‰æ•ˆæ•°æ®ï¼Œéœ€è¦æ¸…ç†ã€‚

åˆ—åä¸è„ä¹±åˆ—: åˆ—åä¸­å­˜åœ¨ä¸è§„èŒƒçš„å­—ç¬¦ï¼Œå¦‚å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰å’Œ...ã€‚åŒæ—¶ï¼ŒUnnamed: 15åˆ°Unnamed: 21è¿™äº›åˆ—åŒ…å«æå°‘æˆ–æ²¡æœ‰æ•°æ®ï¼Œåº”äºˆåˆ é™¤ã€‚

æ•°æ®ç±»å‹ä¸æ ¼å¼é—®é¢˜: æ•´æ™šç¡çœ æ—¶é—´ï¼ˆæ—¶ï¼šåˆ†ï¼šç§’ï¼‰åˆ—çš„æ•°æ®ç±»å‹æ˜¯objectï¼Œä½†å…¶å†…å®¹æ˜¯æ—¶é—´ï¼Œéœ€è¦è½¬æ¢æˆç»Ÿä¸€çš„æ—¶é—´æ ¼å¼ï¼ˆå¦‚timedeltaï¼‰ä»¥ä¾¿è®¡ç®—ã€‚

å¼‚å¸¸å€¼æˆ–ä¸ä¸€è‡´æ•°æ®: describeç»“æœæ˜¾ç¤ºå©´å„¿å¹´é¾„ï¼ˆæœˆï¼‰çš„maxå€¼ä¸º3.00ï¼Œä½†æ•°æ®é¢„è§ˆä¸­å‡ºç°è¿‡4.0ï¼Œå¯èƒ½å­˜åœ¨æ•°æ®ä¸ä¸€è‡´ã€‚å©´å„¿è¡Œä¸ºç‰¹å¾ä¸­å­˜åœ¨ä¸­ç­‰å‹...çš„æ ¼å¼ï¼Œä¹Ÿéœ€è¦å¤„ç†ã€‚

åˆ†ç±»æ•°æ®: å©šå§»çŠ¶å†µã€æ•™è‚²ç¨‹åº¦ã€åˆ†å¨©æ–¹å¼ç­‰åˆ—ä¸ºobjectç±»å‹ï¼Œå…¶å†…å®¹éœ€è¦è¿›è¡Œè¿›ä¸€æ­¥æ£€æŸ¥ï¼Œä»¥ç¡®ä¿å€¼æ˜¯å”¯ä¸€çš„ä¸”æ²¡æœ‰æ‹¼å†™é”™è¯¯ã€‚

ä¾¦å¯Ÿç»“è®º/æ¦‚å†µï¼š

æ•°æ®è¡¨df1åŒ…å«äº†æ¯äº²å’Œå©´å„¿çš„å¤šç»´åº¦ä¿¡æ¯ï¼Œä½†å­˜åœ¨æ˜æ˜¾çš„è„æ•°æ®ã€ç¼ºå¤±å€¼å’Œæ ¼å¼ä¸ä¸€è‡´é—®é¢˜ï¼Œéœ€è¦è¿›è¡Œå½»åº•çš„æ•°æ®æ¸…æ´—æ‰èƒ½ç”¨äºåç»­åˆ†æå’Œå»ºæ¨¡ã€‚ç‰¹åˆ«æ˜¯è¡¥å……è¯´æ˜è¡Œå’ŒUnnamedåˆ—éœ€è¦å…ˆè¡Œåˆ é™¤ã€‚

df1çš„åˆ—åéœ€è¦ç»Ÿä¸€è§„èŒƒåŒ–ï¼Œä¾¿äºä»£ç è°ƒç”¨ã€‚

æ•°æ®ä¸­çš„ç¼ºå¤±å€¼éœ€è¦æ ¹æ®å„åˆ—çš„ç‰¹ç‚¹é€‰æ‹©åˆé€‚çš„å¡«å……ç­–ç•¥ã€‚

æ ¸å¿ƒåˆ—æ•´æ™šç¡çœ æ—¶é—´çš„æ ¼å¼éœ€è¦è½¬æ¢ã€‚

# ğŸ§¹ Step 3: æ•°æ®æ¸…æ´— (Data Cleaning)
> **ğŸ¯ ç›®æ ‡**: å¤„ç†æˆ‘ä»¬åœ¨æ¢ç´¢é˜¶æ®µå‘ç°çš„**ç¼ºå¤±å€¼ã€å¼‚å¸¸å€¼ã€é‡å¤å€¼å’Œé”™è¯¯æ•°æ®ç±»å‹**ã€‚
> **ğŸ•µï¸â€â™‚ï¸ ä½ çš„ä»»åŠ¡**: æ ¹æ®ä½ çš„ã€ä¾¦å¯Ÿç¬”è®°ã€‘ï¼Œåœ¨ä¸‹æ–¹ä»£ç å—ä¸­ï¼Œâ€œå¯¹ç—‡ä¸‹è¯â€ï¼Œç¼–å†™ä»£ç æ¸…æ´—æ•°æ®ï¼Œå¹¶**åœ¨ã€æ¸…æ´—æ—¥å¿—ã€‘ä¸­è®°å½•ä½ çš„æ¯ä¸€æ­¥æ“ä½œå’Œç†ç”±**ã€‚

In [4]:
import pandas as pd
import numpy as np
import re

df_cleaned = df1.copy()

print("--- å¼€å§‹æ•°æ®æ¸…æ´— ---")

# æ­¥éª¤ 1ï¼šå¤„ç†å¤šä½™è¡Œå’Œåˆ—
# ä» info() ç»“æœçœ‹ï¼Œæœ€åå‡ è¡Œæ˜¯è¡¥å……è¯´æ˜ï¼Œè€Œéæ•°æ®ï¼Œéœ€è¦åˆ é™¤ã€‚
# å¦å¤–ï¼ŒUnnamed ç³»åˆ—åˆ—å‡ ä¹ä¸ºç©ºï¼Œä¹Ÿéœ€è¦åˆ é™¤ã€‚
df_cleaned = df_cleaned.iloc[0:401, :]
df_cleaned = df_cleaned.drop(columns=['Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'])
print("âš« æ­¥éª¤ 1: å·²åˆ é™¤å¤šä½™è¡Œå’Œåˆ—ã€‚")
print(f"âš« å‰©ä½™æ•°æ®é‡: {df_cleaned.shape}")

# æ­¥éª¤ 2: å¤„ç†åˆ—åä¸è§„èŒƒ
# ç§»é™¤åˆ—åä¸­çš„ç‰¹æ®Šå­—ç¬¦å’Œå¤šä½™ç©ºæ ¼ï¼Œä¾¿äºåç»­æ“ä½œã€‚
df_cleaned.columns = df_cleaned.columns.str.replace('ï¼ˆæ—¶ï¼šåˆ†ï¼šç§’ï¼‰', '', regex=False).str.replace('...', '', regex=False).str.strip()
print("âš« æ­¥éª¤ 2: åˆ—åå·²æ¸…æ´—ã€‚")
print(f"âš« æ–°åˆ—å: {df_cleaned.columns.tolist()}")

# æ­¥éª¤ 3: å¤„ç†æ—¶é—´æ•°æ®æ ¼å¼
# ä½¿ç”¨è‡ªå®šä¹‰å‡½æ•°å¤„ç†ä¸è§„èŒƒçš„æ—¶é—´å­—ç¬¦ä¸²ï¼Œå°†å…¶è½¬æ¢ä¸ºpd.to_timedeltaå¯æ¥å—çš„æ ¼å¼ã€‚
def parse_time_string(time_str):
    if pd.isna(time_str):
        return np.nan
    time_str = str(time_str).strip()
    match = re.match(r'(\d+):(\d+):(\d+)', time_str)
    if match:
        return time_str
    else:
        # å¦‚æœä¸æ˜¯æ ‡å‡†æ ¼å¼ï¼Œå°è¯•è¡¥å…¨ä¸ºæ ‡å‡†æ ¼å¼ï¼Œä¾‹å¦‚ '10' -> '10:00:00'
        parts = time_str.split(':')
        if len(parts) == 1 and parts[0].isdigit():
            return f"{int(parts[0]):02d}:00:00"
        elif len(parts) == 2 and parts[0].isdigit() and parts[1].isdigit():
            return f"{int(parts[0]):02d}:{int(parts[1]):02d}:00"
    return time_str

df_cleaned['æ•´æ™šç¡çœ æ—¶é—´'] = df_cleaned['æ•´æ™šç¡çœ æ—¶é—´'].astype(str).apply(parse_time_string)
df_cleaned['æ•´æ™šç¡çœ æ—¶é—´'] = pd.to_timedelta(df_cleaned['æ•´æ™šç¡çœ æ—¶é—´'])
print("âš« æ­¥éª¤ 3: å·²å°†'æ•´æ™šç¡çœ æ—¶é—´'åˆ—è½¬æ¢ä¸ºæ—¶é—´æ ¼å¼ã€‚")

# æ­¥éª¤ 4: å¤„ç†ç¼ºå¤±å€¼
# è€ƒè™‘åˆ°æ•°æ®é‡è¾ƒå°‘ï¼Œå¯¹ä¸åŒåˆ—é‡‡ç”¨ä¸åŒçš„ç¼ºå¤±å€¼å¡«å……ç­–ç•¥ã€‚
# é‡‡ç”¨ä¸­ä½æ•°å¯¹æ•°å€¼å‹æ•°æ®è¿›è¡Œå¡«å……ï¼Œä¼—æ•°å¯¹åˆ†ç±»æ•°æ®è¿›è¡Œå¡«å……ã€‚
numeric_cols = df_cleaned.select_dtypes(include='float64').columns
for col in numeric_cols:
    median_val = df_cleaned[col].median()
    df_cleaned[col].fillna(median_val, inplace=True)

categorical_cols = df_cleaned.select_dtypes(include='object').columns
for col in categorical_cols:
    mode_val = df_cleaned[col].mode()[0]
    df_cleaned[col].fillna(mode_val, inplace=True)

print("âš« æ­¥éª¤ 4: ç¼ºå¤±å€¼å·²å¤„ç†ã€‚")
print("âš« ç¼ºå¤±å€¼å¤„ç†åï¼Œå„åˆ—éç©ºå€¼æ•°é‡ï¼š")
df_cleaned.info()


print("\n--- æ•°æ®æ¸…æ´—ç»“æŸ ---")
print("âœ”ï¸ å·²æˆåŠŸæ ¹æ®ä½ çš„ã€ä¾¦å¯Ÿç¬”è®°ã€‘æ¸…æ´—æ•°æ®ï¼")

--- å¼€å§‹æ•°æ®æ¸…æ´— ---
âš« æ­¥éª¤ 1: å·²åˆ é™¤å¤šä½™è¡Œå’Œåˆ—ã€‚
âš« å‰©ä½™æ•°æ®é‡: (401, 15)
âš« æ­¥éª¤ 2: åˆ—åå·²æ¸…æ´—ã€‚
âš« æ–°åˆ—å: ['ç¼–å·', 'æ¯äº²å¹´é¾„', 'å©šå§»çŠ¶å†µ', 'æ•™è‚²ç¨‹åº¦', 'å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰', 'åˆ†å¨©æ–¹å¼', 'CBTS', 'EPDS', 'HADS', 'å©´å„¿è¡Œä¸ºç‰¹å¾', 'å©´å„¿æ€§åˆ«', 'å©´å„¿å¹´é¾„ï¼ˆæœˆï¼‰', 'æ•´æ™šç¡çœ æ—¶é—´', 'ç¡é†’æ¬¡æ•°', 'å…¥ç¡æ–¹å¼']
âš« æ­¥éª¤ 3: å·²å°†'æ•´æ™šç¡çœ æ—¶é—´'åˆ—è½¬æ¢ä¸ºæ—¶é—´æ ¼å¼ã€‚
âš« æ­¥éª¤ 4: ç¼ºå¤±å€¼å·²å¤„ç†ã€‚
âš« ç¼ºå¤±å€¼å¤„ç†åï¼Œå„åˆ—éç©ºå€¼æ•°é‡ï¼š
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ç¼–å·        401 non-null    float64
 1   æ¯äº²å¹´é¾„      401 non-null    float64
 2   å©šå§»çŠ¶å†µ      401 non-null    object
 3   æ•™è‚²ç¨‹åº¦      401 non-null    object
 4   å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰  401 non-null    float64
 5   åˆ†å¨©æ–¹å¼      401 non-null    object
 6   CBTS      401 non-null    float64
 7   EPDS      401 non-null    float64
 8   HADS      401 non-null    float64
 9   å©´å„¿è¡Œä¸ºç‰¹å¾    401 non-null    object
 10  å©´å„¿æ€§åˆ«      401 non-null    object
 11  å©´å„¿å¹´é¾„ï¼ˆæœˆï¼‰   401 non-null    float64
 12  æ•´æ™šç¡çœ æ—¶é—´    381 non-null    timedelta64[ns]
 13  ç¡é†’æ¬¡æ•°      401 non-null    float64
 14  å…¥ç¡æ–¹å¼      401 non-null    object
dtypes: float64(8), object(6), timedelta64[ns](1)
memory usage: 47.1+ KB

--- æ•°æ®æ¸…æ´—ç»“æŸ ---
âœ”ï¸ å·²æˆåŠŸæ ¹æ®ä½ çš„ã€ä¾¦å¯Ÿç¬”è®°ã€‘æ¸…æ´—æ•°æ®ï¼

C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
C:\Users\crj\AppData\Local\Temp\ipykernel_13760\4118045121.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(mode_val, inplace=True)

ä½ çš„ã€æ¸…æ´—æ—¥å¿—ã€‘:
ä½ çš„ä»»åŠ¡: åœ¨è¿™é‡Œè¯¦ç»†è®°å½•ä½ çš„æ¯ä¸€æ­¥æ¸…æ´—æ“ä½œå’Œé€‰æ‹©è¯¥æ“ä½œçš„ç†ç”±ã€‚è¿™æ˜¯è®ºæ–‡ä¸­"æ•°æ®é¢„å¤„ç†"ç« èŠ‚çš„æ ¸å¿ƒç´ æï¼

æ•°æ®è¡Œä¸åˆ—å¤„ç†:

æ“ä½œ: åˆ é™¤Unnamed: 15åˆ°Unnamed: 21ç­‰ç©ºå€¼è¾ƒå¤šçš„åˆ—ã€‚

ç†ç”±: åœ¨æ•°æ®æ¢ç´¢é˜¶æ®µï¼Œæˆ‘ä»¬å‘ç°è¿™äº›åˆ—å‡ ä¹ä¸ºç©ºï¼Œä¸”éƒ¨åˆ†è¡ŒåŒ…å«çš„æ˜¯æ•°æ®è¡¥å……è¯´æ˜ï¼Œè€Œéæœ‰æ•ˆæ•°æ®ã€‚åˆ é™¤è¿™äº›è„ä¹±çš„åˆ—å’Œè¡Œï¼Œå¯ä»¥ç¡®ä¿æ•°æ®è¡¨çš„çº¯å‡€æ€§å’Œç»“æ„è§„èŒƒã€‚

åˆ—åæ¸…æ´—:

æ“ä½œ: å°†å¦Šå¨ æ—¶é—´ï¼ˆå‘¨æ•°ï¼‰ç­‰åˆ—åä¸­çš„ä¸­æ–‡æ‹¬å·å’Œç‰¹æ®Šå­—ç¬¦...ç§»é™¤ï¼Œå¹¶å»é™¤å¤šä½™ç©ºæ ¼ã€‚

ç†ç”±: è§„èŒƒåŒ–çš„åˆ—åæ›´ä¾¿äºåœ¨ä»£ç ä¸­è°ƒç”¨ï¼Œé¿å…å› ç‰¹æ®Šå­—ç¬¦å¯¼è‡´è¯­æ³•é”™è¯¯ï¼Œæé«˜ä»£ç çš„å¯è¯»æ€§å’Œå¯ç»´æŠ¤æ€§ã€‚

æ•°æ®ç±»å‹è½¬æ¢:

æ“ä½œ: å°†æ•´æ™šç¡çœ æ—¶é—´åˆ—ä»objectç±»å‹è½¬æ¢ä¸ºtimedelta64[ns]ç±»å‹ã€‚

ç†ç”±: åœ¨æ•°æ®æ¢ç´¢é˜¶æ®µå‘ç°æ­¤åˆ—è™½ç„¶æ˜¯æ—¶é—´æ•°æ®ï¼Œä½†ç±»å‹ä¸æ­£ç¡®ã€‚è½¬æ¢ä¸ºtimedeltaæ ¼å¼åï¼Œæˆ‘ä»¬å¯ä»¥å¯¹ç¡çœ æ—¶é—´è¿›è¡Œç›´æ¥çš„æ•°å­¦è¿ç®—å’Œç»Ÿè®¡åˆ†æï¼Œä»è€Œæ›´å‡†ç¡®åœ°ç ”ç©¶å©´å„¿çš„ç¡çœ æ¨¡å¼ã€‚

ç¼ºå¤±å€¼å¡«å……:

æ“ä½œ: å¯¹æ‰€æœ‰æ•°å€¼å‹åˆ—ï¼ˆå¦‚æ¯äº²å¹´é¾„ã€ç¡é†’æ¬¡æ•°ç­‰ï¼‰ä½¿ç”¨ä¸­ä½æ•°è¿›è¡Œå¡«å……ï¼›å¯¹æ‰€æœ‰ç±»åˆ«å‹åˆ—ï¼ˆå¦‚å©šå§»çŠ¶å†µã€æ•™è‚²ç¨‹åº¦ç­‰ï¼‰ä½¿ç”¨ä¼—æ•°è¿›è¡Œå¡«å……ã€‚

ç†ç”±: ä¸­ä½æ•°å¯¹å¼‚å¸¸å€¼æ›´å…·é²æ£’æ€§ï¼Œèƒ½å¤Ÿæ›´å¥½åœ°ä»£è¡¨æ•°å€¼å‹æ•°æ®çš„é›†ä¸­è¶‹åŠ¿ï¼Œç‰¹åˆ«æ˜¯åœ¨æ•°æ®åˆ†å¸ƒåæ–œæ—¶ã€‚ä¼—æ•°å¡«å……æ˜¯å¤„ç†åˆ†ç±»æ•°æ®ç¼ºå¤±å€¼çš„å¸¸ç”¨æ–¹æ³•ï¼Œå¯ä»¥ä¿ç•™åŸæ•°æ®çš„åˆ†å¸ƒç‰¹å¾ã€‚

# ğŸ–‡ï¸ Step 4: æ•°æ®é›†æˆ (Data Integration)
> **ğŸ¯ ç›®æ ‡**: å°†å¤šä¸ªæ¸…æ´—å¹²å‡€çš„æ•°æ®é›†åˆå¹¶(merge)æˆä¸€ä¸ªå¼ºå¤§çš„â€œ**ä¸»åˆ†ææ•°æ®é›†**â€ã€‚
> **ğŸ•µï¸â€â™‚ï¸ ä½ çš„ä»»åŠ¡**: æ‰¾åˆ°åˆé€‚çš„å…³è”é”®(key)ï¼Œä½¿ç”¨`pd.merge()`å°†df1_cleanedå’Œdf2_cleanedåˆå¹¶ã€‚

In [ ]:
try:
    # --- ğŸ”´ è¯·åœ¨è¿™é‡Œä¿®æ”¹å…³è”é”®'key_column_name' ---
    # key_column_name = 'å•†å“ID' # å‡è®¾è¿™æ˜¯å…±åŒçš„åˆ—å
    # master_df = pd.merge(df2_cleaned, df1_cleaned, on=key_column_name, how='left')
    
    # print("âœ… æ•°æ®é›†æˆåŠŸåˆå¹¶ï¼é¢„è§ˆåˆå¹¶åçš„ä¸»æ•°æ®é›†ï¼š")
    # display(master_df.head())
    # print("\n--- åˆå¹¶åä¸»æ•°æ®é›†ä¿¡æ¯ ---")
    # master_df.info()
    print("ğŸ–‡ï¸ (å ä½ç¬¦) è¯·åœ¨æ­¤å¤„ç¼–å†™ä½ çš„æ•°æ®é›†åˆå¹¶ä»£ç ")
    
except KeyError as e:
    print(f"âŒ åˆå¹¶å¤±è´¥ï¼Œè¯·æ£€æŸ¥ä¸¤ä¸ªæ•°æ®è¡¨ä¸­çš„å…³è”åˆ—åæ˜¯å¦å®Œå…¨ä¸€è‡´: {e}")

# ğŸ¨ Step 5 (Bonus): åˆæ­¥å¯è§†åŒ–æ´å¯Ÿ
> **ğŸ¯ ç›®æ ‡**: å¯¹æ•´åˆåçš„å¹²å‡€æ•°æ®ï¼Œè¿›è¡Œåˆæ­¥çš„å¯è§†åŒ–ï¼Œå¯»æ‰¾è§„å¾‹ã€‚
> **ğŸ•µï¸â€â™‚ï¸ ä½ çš„ä»»åŠ¡**: å°è¯•ä½¿ç”¨`sns.lineplot`, `sns.barplot`ç­‰ï¼Œç”»1-2å¼ ä½ è®¤ä¸ºæœ€æœ‰ä»·å€¼çš„å›¾ã€‚

In [ ]:
# ç¤ºä¾‹ï¼šåˆ†ææ¯æ—¥çš„æ€»é”€å”®é¢è¶‹åŠ¿
# daily_revenue = master_df.groupby('æ—¥æœŸ')['é”€å”®é¢'].sum()
# plt.figure(figsize=(15, 6))
# sns.lineplot(data=daily_revenue)
# plt.title("æ¯æ—¥æ€»é”€å”®é¢è¶‹åŠ¿å›¾", fontsize=16)
# plt.show()
print("ğŸ¨ (å ä½ç¬¦) è¯·åœ¨æ­¤å¤„å°è¯•ä½ çš„ç¬¬ä¸€ä¸ªå¯è§†åŒ–åˆ†æï¼")

---
### ğŸ‰ æ­å–œï¼ä½ å·²å®Œæˆæ•°æ®ä¾¦å¯Ÿä¸æ¸…æ´—çš„æ ¸å¿ƒä»»åŠ¡ï¼ğŸ‰
> **ä¸‹ä¸€æ­¥è¡ŒåŠ¨**:
> 1. å°†è¿™ä»½Notebookæ–‡ä»¶ä¿å­˜ï¼Œå¹¶å‘½åä¸º`[èµ›é¢˜ç¼–å·]_Data_Report_V1.ipynb`ã€‚
> 2. **åœ¨Notionçš„å»ºæ¨¡æ—¥å¿—ä¸­ï¼Œç®€è¦æ±‡æŠ¥ä½ çš„æ ¸å¿ƒå‘ç°**ã€‚
> 3. **é€šçŸ¥ @ä¿Šå®‡ (æˆ‘) è¿›è¡ŒCode Reviewï¼Œå¹¶è®¨è®ºåç»­çš„å»ºæ¨¡æ–¹å‘**ï¼
---


# ===================================================================
# --- [é˜¶æ®µæ€§äº¤ä»˜ç‚¹] --- æ•°æ®åˆ†æå¸ˆå®Œæˆå·¥ä½œ ---
# ===================================================================

# ===================================================================
# æ¨¡å—ä¸‰ï¼šæ¨¡å‹æ„å»ºä¸æ±‚è§£ (Modeling & Solving)
# è´Ÿè´£äºº: @ä¿Šå®‡
# ===================================================================

In [ ]:
**(Code) ä»£ç å•å…ƒæ ¼**
```python
# ... åœ¨è¿™é‡Œæ”¾ç½®ä½ é—®é¢˜ä¸€çš„æ¨¡å‹ä»£ç  ...
# kmeans = KMeans(n_clusters=3, random_state=42)
# ...```
**(M) Markdown å•å…ƒæ ¼**
```markdown
### 3.2 [é—®é¢˜äºŒçš„æ¨¡å‹ï¼Œå¦‚ï¼šä¿¡å·ç¯ä¼˜åŒ–æ¨¡å‹]
* **æ¨¡å‹æ€è·¯**: å»ºç«‹ä¸€ä¸ªä»¥æ€»é€šè¡Œæ—¶é—´æœ€çŸ­ä¸ºç›®æ ‡çš„çº¿æ€§è§„åˆ’æ¨¡å‹...```
**(Code) ä»£ç å•å…ƒæ ¼**
```python
# ... åœ¨è¿™é‡Œæ”¾ç½®ä½ é—®é¢˜äºŒçš„æ¨¡å‹ä»£ç  ...
# prob = pulp.LpProblem(...)
# ...

# ===================================================================
# æ¨¡å—å››ï¼šç»“æœåˆ†æä¸å¯è§†åŒ– (Result Analysis)
# è´Ÿè´£äºº: @ä¿Šå®‡ & @é˜Ÿå‹B
# ===================================================================

### 4.1 æ ¸å¿ƒç»“æœæ±‡æ€»
* **ä»»åŠ¡**: å°†æ¨¡å‹æ±‚è§£å‡ºçš„å…³é”®ç»“æœï¼Œä»¥æ¸…æ™°çš„è¡¨æ ¼å’Œå›¾è¡¨å½¢å¼å±•ç¤ºå‡ºæ¥ï¼Œå¹¶å­˜ä¸ºå›¾ç‰‡æˆ–æ–‡ä»¶ï¼Œæ–¹ä¾¿è®ºæ–‡å¼•ç”¨ã€‚
* **(é‡è¦: è¿™é‡Œçš„ç»“æœï¼Œè¦å’ŒNotionæŒ‡æŒ¥ä¸­å¿ƒçš„â€œæœ€ç»ˆç»“æœæ±‡æ€»åŒºâ€ä¿æŒç»å¯¹ä¸€è‡´ï¼)**

In [ ]:
# ... åœ¨è¿™é‡Œæ”¾ç½®æ‰€æœ‰ç”¨äºç”Ÿæˆæœ€ç»ˆç»“æœè¡¨æ ¼å’Œå›¾è¡¨çš„ä»£ç  ...
# final_result_df.to_excel("é—®é¢˜ä¸€ç»“æœ.xlsx")
# plt.savefig("æ ¸å¿ƒç»“æœå›¾.png", dpi=300)